body{
   background-image: url("images/italy-sirmione\ bg.jpeg");
   background-repeat: no-repeat;
   background-size: 100%;
}

.back{
   background-color: rgba(27, 31, 34, 0.85);
   padding-top: 20px;
   margin-left: 350px;
   margin-right: 300px;
   margin-top: 100px;
   margin-bottom: 100px;
}
.logo{
width: 5%;
padding-left:  40%;
padding-top: 10%;

}
.hr{
  padding-left: 15%;
  padding-right: 15%;
  color: white;
}

.city{
   
   color: rgb(203, 203, 203);
   text-align: center;
   padding-left: 15%;
   padding-right: 15%;
}
.trait{
   padding-left: 15%;
   padding-right: 15%;
   color: white;

}

.info{
   align-items: center;
   border: rgb(203, 203, 203);
   text-align: center;
   vertical-align: middle;
   color: white;

}

.intro{
   padding-top: 150px;
   padding-left: 200px;
   padding-right: 200px;
   margin-left: 350px;
   margin-right: 300px;
   margin-top: 100px;
   background-color: rgba(27, 31, 34, 0.85);
   color: white;
   text-align: left; 
  
  
} 

.hr-int{
   margin-right: 80%;
   color: white;
}
.hr1{
   padding-right: 10%;
}

.img-int{
   padding-top: 40px;
   padding-left: 200px;
   padding-right: 600px;
   padding-bottom: 10%;
   
}.job{
   color: white;
   padding-top: 10px;
   padding-left: 100px;
   padding-right: 200px;
   background-color: rgba(27, 31, 34, 0.85);
   margin-left: 350px;
   margin-right: 300px;
   margin-top: 100px;
 
}
.h4{
   margin-right: 80%;
   color: white;
}
.ab{
   color: white;
   padding-left: 100px;
   padding-top: 50px;
   padding-right: 150px;
   background-color: rgba(27, 31, 34, 0.85);
   color: rgb(230, 217, 217);
   text-align: left; 
   margin-left: 350px;
   margin-right: 300px;
   margin-top: 100px;
   margin-bottom: 200px;
  
}
.hr2{
   margin-right: 75%;
   color: white;
   
}

.cont{
   /*background-image: url("images/italy-sirmione\ bg.jpeg");*/
   background-color: rgba(27, 31, 34, 0.85);
   color: rgb(230, 217, 217);
   text-align: left; 
   margin-left: 350px;
   margin-right: 300px;
   margin-top: 100px;
   margin-bottom: 200px;
   
}
.tact{
   padding-top: 20px;
   padding-left: 10px;
   
}
.hr3{
   margin-right: 80%;
   color: white;
}
.field{
   width: 50%;
   margin-top: 20px;
   margin-left: 2px;
   margin-right: 110px;
   text-align: left;
   padding-top: 20px;
}
.half{
   margin-top: 20px;
   text-align: left;
   padding-top: 20px;
   padding-left: 20px;
   padding-right: 200px;
   color: white;
   text-align: center
}

.icons{
   margin-top: 20px;
   margin-right: 150px;
   text-align: left;
   padding-top: 20px;
   padding-left: 180px;
   padding-right: 200px;
   color: white;
   
}
.field{
   margin-top: 20px;
   text-align: left;
   padding-top: 20px;
   padding-left: 190px;
   padding-right: 190px;
   color: white;
   
}
.actions{
   margin-top: 20px;
   text-align: left;
   padding-top: 20px;
   padding-left: 200px;
   padding-right: 200px;
   color: white;
  
}
.primary{
   margin-top: 20px;
   text-align: left;
   padding-top: 20px;
   padding-left: 10px;
   padding-right: 30px;
   color: black;
}
.reset{
   margin-top: 20px;
   text-align: center;
   padding-top: 20px;
   padding-left: 40px;
   padding-right: 30px;
   color: black
}
.icons{
   margin-top: 20px;
   text-align: left;
   padding-top: 20px;
   padding-left: 200px;
   padding-right: 200px;
   color: white
}